@page "/client/pets"
@inherits IndexPageBase
@attribute [Authorize(Roles = UserRole.User)]

<PageTitle>Pets</PageTitle>

<div class="d-flex flex-row">
	<div class="d-flex flex-column">
		<h1>Pets</h1>
	</div>
	<button class="btn btn-primary btn-lg ms-auto" style="height: 3rem" @onclick="OnAddButtonClick">
		<i class="oi oi-plus" aria-hidden="true"></i> Add pet
	</button>
</div>


@if (Pets == null)
{
	<Loader></Loader>
}
else
{
	<div class="box-2">
		<table class="table">
			<thead>
			<tr>
				<th>Name</th>
				<th>Type of Pet</th>
				<th>Weight</th>
				<th>Age</th>
				<th>Vaccinated</th>
				<th>Date of Vaccine</th>
				<th>Actions</th>
			</tr>
			</thead>
			<tbody>
			@foreach (Pet pet in Pets) 
			{
				<tr>
					<td>@pet.Name</td>
					<td>@pet.TypeOfPet</td>
					<td>@pet.Weight</td>
					<td>@pet.Age</td>
					<td>
						@if (pet.IsVaccinated)
						{
							<span class="text-primary ms-4"><i class="bi bi-check-circle"></i></span>
						}
						else
						{
							<span class="text-danger ms-4"><i class="bi bi-x-circle"></i></span>
						}
					</td>
					<td>
						@if (pet.IsVaccinated == false || pet.DateOfVaccine == null)
						{
							<span>Not vaccinated</span>
						}
						else
						{
							<span>@pet.DateOfVaccine.Value.ToString("dd.MM.yyyy")</span>
						}
					</td>
					<td>
						<div class="d-flex flex-row align-items-center">
							<button class="btn btn-primary btn-circle px-2 me-2" title="Edit pet" @onclick="(() => OnEditButtonClick(pet))">
								<i class="bi bi-pencil"></i>
							</button>
							<button class="btn btn-primary btn-circle px-2" title="Delete pet" @onclick="(async () => await OnDeleteAsync(pet))">
								<i class="bi bi-trash"></i>
							</button>
						</div>
					</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
}

@if (ShowPetForm)
{
	<div class="overlay">
		<div class="box">
			<h3 class="mt-4">Add/Edit Pet:</h3>

			<EditForm Model="Pet" OnValidSubmit="OnValidSubmitAsync">
				<DataAnnotationsValidator />
				<ValidationSummary />
				<div class="row">
					<div class="form-group col-6 mt-3">
						<label>Name</label>
						<InputText class="form-control form-control-lg w-100" @bind-Value="Pet.Name" />
					</div>
					<div class="form-group col-6 mt-3">
						<label>Type of Pet</label>
						<select class="form-control form-control-lg w-100" @bind="Pet.TypeOfPet">
							<option value="@nameof(PetType.Dog)" selected>@nameof(PetType.Dog)</option>
							<option value="@nameof(PetType.Cat)">@nameof(PetType.Cat)</option>
							<option value="@nameof(PetType.Bird)">@nameof(PetType.Bird)</option>
							<option value="@nameof(PetType.Hamster)">@nameof(PetType.Hamster)</option>
							<option value="@nameof(PetType.Rabbit)">@nameof(PetType.Rabbit)</option>
							<option value="@nameof(PetType.Turtle)">@nameof(PetType.Turtle)</option>
							<option value="@nameof(PetType.Other)">@nameof(PetType.Other)</option>
						</select>
					</div>
					<div class="form-group col-6 mt-3">
						<label>Weight (KG)</label>
						<InputNumber class="form-control form-control-lg w-100" @bind-Value="Pet.Weight" />
					</div>
					<div class="form-group col-6 mt-3">
						<label>Age (years)</label>
						<InputNumber class="form-control form-control-lg w-100" @bind-Value="Pet.Age" />
					</div>
					<div class="form-group col-6 mt-3">
						<label>Vaccinated</label>
						<div class="d-flex flex-row justify-content-center align-items-center mt-1">
							<InputCheckbox style="width: 1rem; height: 1rem;" @bind-Value="Pet.IsVaccinated" />
							<span class="ms-2">Is vaccinated</span>
						</div>
					</div>
					<div class="form-group col-6 mt-3">
						<label>Date of Vaccine</label>
						<InputDate class="form-control form-control-lg w-100" @bind-Value="Pet.DateOfVaccine" />
					</div>
				</div>

				<div class="d-flex flex-row-reverse mt-3">
					<button class="btn btn-primary btn-lg btn-icon" type="submit">
						<i class="oi oi-plus" aria-hidden="true"></i> Save
					</button>
					<button class="btn btn-secondary btn-lg btn-icon me-2" @onclick="OnCancelButtonClick">
						<i class="oi oi-x" aria-hidden="true"></i> Cancel
					</button>
				</div>
			</EditForm>
		</div>
	</div>
}
