@page "/clinic/drugstocks"
@inherits IndexPageBase
@attribute [Authorize(Roles = UserRole.Clinic)]

<PageTitle>Drug stocks</PageTitle>
<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
<div class="d-flex flex-row">
	<div class="d-flex flex-column">
		<h1>Drug stocks</h1>
	</div>
	<button class="btn btn-primary btn-lg btn-icon ms-auto" style="height: 3rem" @onclick="OnAddButtonClick">
		<i class="oi oi-plus" aria-hidden="true"></i> Add Drug Stock
	</button>
</div>


@if (DrugStocks == null)
{
	<Loader></Loader>
}
else
{
	<div class="box-2">
		<table class="table">
			<thead>
				<tr>
					<th>Drug</th>
					<th>Quantity</th>
					<th>Expiration date</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				@foreach (DrugStock drugStock in DrugStocks)
				{
					<tr>
						<td>@drugStock.Drug.Name</td>
						<td>@drugStock.Quantity</td>
						<td>@drugStock.ExpirationDate.ToString("dd.MM.yyyy")</td>
						<td>
							<div class="d-flex flex-row align-items-center">
								<button class="btn btn-primary btn-circle px-2 me-2" title="Edit drug" @onclick="(() => OnEditButtonClick(drugStock))">
									<i class="bi bi-pencil"></i>
								</button>
								<button class="btn btn-primary btn-circle px-2" tile="Delete doctor" @onclick="(() => ShowDeleteConfirmation(drugStock))">
									<i class="bi bi-trash"></i>
								</button>
							</div>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

	@if (ShowDeleteConfirmationPop)
	{
		<div class="overlay">
			<div class="box">
				<h3 class="mt-4">Are you sure you want do delete this?</h3>
				<div class="d-flex flex-row-reverse mt-3" id="center-buttons">
					<button class="btn btn-primary btn-lg btn-icon" id="position-delete" @onclick="() => OnDeleteAsync()">Delete</button>
					<button class="btn btn-secondary btn-lg btn-icon" id="position-cancel" @onclick="() => DeleteConfirmation(false)">Cancel</button>
				</div>
			</div>
		</div>
	}

	@if (ShowDrugStockForm)
	{
		<div class="overlay">
			<div class="box">
				<h3 class="mt-4">Add/Edit Drug Stock:</h3>

				<EditForm Model="DrugStock" OnValidSubmit="OnValidSubmitAsync">
					<DataAnnotationsValidator />
					<ValidationSummary />
					<div class="row">
						<div class="form-group col-4 mt-3">
							<label>Select drug</label>
							<select class="form-control form-control-lg w-100" @bind="DrugStock.DrugId">
								<option value="@Guid.Empty" selected disabled>Select drug...</option>
								@if (Drugs != null)
								{
									@foreach (Drug drug in Drugs)
									{
										<option value="@drug.Id">@drug.Name</option>
									}
								}
							</select>
						</div>
						<div class="form-group col-4 mt-3">
							<label>Quantity</label>
							<InputNumber class="form-control form-control-lg w-100" @bind-Value="DrugStock.Quantity"/>
						</div>
						<div class="form-group col-4 mt-3">
							<label>Expiration date</label>
							<InputDate class="form-control form-control-lg w-100" @bind-Value="DrugStock.ExpirationDate"/>
						</div>
					</div>

					<div class="d-flex flex-row-reverse mt-3">
						<button class="btn btn-primary btn-lg btn-icon" type="submit">
							<i class="oi oi-plus" aria-hidden="true"></i> Save
						</button>
						<button class="btn btn-secondary btn-lg btn-icon me-2" @onclick="OnCancelButtonClick">
							<i class="oi oi-x" aria-hidden="true"></i> Cancel
						</button>
					</div>
				</EditForm>
			</div>
		</div>
	}
}